<div class="page stats" ng-controller="stats as vm">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <section class="widget">
                    <div class="widget-content">
                        <header class="stats-header">
                            <div class="widgeTitle">
                                <span translate="">Статистика</span>
                            </div>
                            <!-- <select name="interval" ng-model="vm.interval">
    <option value="1">День</option>
    <option value="7">Неделя</option>
    <option value="30">Месяц</option>
</select>f
 -->
                        </header>
                        <div class="stats-content">
                            <div class="stat-controls clearfix">
                                <div class="stats-datepicker">
                                    <datepicker type="daterange" locale="vm.datePickerTexts" format="DD.MM.YYYY" interval-format="DD.MM.YYYY" opens="right" ranges="vm.dateRanges" ng-model="vm.chartDateRange">
                                        <i class="calendar-icon"></i>
                                        <span translate>Уточнить интервал</span>
                                        <b class="caret"></b>
                                    </datepicker>
                                </div>
                                <div class="date-slider">
                                    <div class="minichart">
                                        <linechart data="vm.miniData" options="vm.miniOptions" mode="thumbnail">
                                        </linechart>
                                    </div>
                                    <div id="slider">
                                    </div>
                                </div>
                                <div class="stats-range">
                                    <a href="javascript:void(0)" ng-click="vm.showRanges = !vm.showRanges">
                                        <span ng-if="vm.interval === 'day'" translate="">День</span>
                                        <span ng-if="vm.interval === 'week'" translate="">Неделя</span>
                                        <span ng-if="vm.interval === 'month'" translate="">Месяц</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul ng-show="vm.showRanges" data-toggle="popover" data-placement="bottom" class="pop-menu dropdown-menu messages" role="menu">
                                        <li role="presentation">
                                            <a ng-class="{current: vm.interval === 'day'}" href="javascript:void(0)" ng-click="vm.interval = 'day'" class="first message">День</a>
                                        </li>
                                        <li role="presentation">
                                            <a ng-class="{current: vm.interval === 'week'}" href="javascript:void(0)" ng-click="vm.interval = 'week'" class="message">Неделя</a>
                                        </li>
                                        <li role="presentation">
                                            <a ng-class="{current: vm.interval === 'month'}" href="javascript:void(0)" ng-click="vm.interval = 'month'" class="last message">Месяц</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="big-chart">
                                <linechart data="vm.data" options="vm.options" mode="">
                                </linechart>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <!--     <div class="row">
        <div class="col-md-12">
            <div class="stats-icons">
                <p>
                    Активно записывайте свои расходы, а с 1 октября сможете просматривать свою статистику!
                </p>
                <img src="../img/stats-icons.png" alt="">
            </div>
        </div>
    </div>
 -->
    <div class="stat-tip">
        <div class="tip-content">
            <span class="tip-date"></span>
            <br>
            <span>Сумма:
                <span class='tip-amount'></span>
            </span>
        </div>
    </div>
</div>
