html {
    -webkit-font-smoothing: subpixel-antialiased;
    overflow: scroll;
}

body {
    font-size: 14px;
}

body.background-dark {
    background-attachment: fixed;
}

header h4, .widget > header h4, header h4 a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.logo h4 {
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}

.newTransactionWrapper {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 15px;
    padding-bottom: 8px;
}

input.ng-invalid-required, input.ng-invalid-number {
    border-color: red !important;
    color: white !important;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

header a {
    color: #f8f8f8
}

header a:hover {
    text-decoration: none;
    color: #ccc;
}

.validationMessage {
    color: rgb(60, 231, 60);
}

.validationMessage.error {
    color: #FF5E5E;
}

.authError {
    color: rgb(255, 161, 161);
    text-align: center;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.actionButton {
    margin-top: 10px;
}

.settings-section {
    padding: 5px;
}

input.styledInput {
    color: #f8f8f8;
    -webkit-transition: width .2s;
    transition: width .2s;
    background: rgba(51, 51, 51, .4);
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.map {
    text-align: center;
}

table.dataTable thead th, header.tableLabel h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.85rem;
    font-weight: 300;
    min-width: 40px;
    text-decoration: none;
}

table.dataTable th.sorting {
    text-decoration: underline;
}

.logo h4 {
    font-size: 22px;
    color: #fff;
}

.logo a, .logo strong {
    color: #fff;
}

.logo.sidebar-icons {
    top: 0;
    width: auto;
}

.logo {
    top: 0;
}

@media (max-width: 1048px) {
    .logo {
        top: 0;
    }
}

.container {
    /*width: 83.333333% !important;*/
    max-width: 1150px;
    padding-left: 2.5641%;
    padding-right: 2.5641%;
}

.bootstrap .tags {
    border: none;
}

tags-input .bootstrap .tags .tag-item, .bootstrap .tags .tag-item {
    display: inline-block;
    margin: 3px;
    background: #56bc76;
    border-color: #47b268;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #000;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

tags-input .tags .tag-item.selected {
    border-color: #ff5c5c;
    background: #ff5c5c;
}

.tags .tag-item {
    border-radius: 24px;
    padding: 2px 10px;
}

.bootstrap .tags .tag-item:hover {
    color: red;
    background-color: #e5bc3a;
    border-color: #e5bc3a;
    cursor: pointer;
}

.searchBlock .host .tags {
    background: url(../img/search-white.png) no-repeat center right rgba(51, 51, 51, 0.4);
}

.host .tags {
    background: rgba(51, 51, 51, 0.4);
}

.inputHost {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.inputHost label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}

.inputHost input, textarea {
    min-height: 0;
    padding: 4px 14px;
    color: #f8f8f8;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    font-family: 'Open Sans', sans-serif;
    background: rgba(51, 51, 51, 0.4);
    font-size: 14px;
}

ul.rowActions {
    opacity: 0;
    /*-webkit-transition: opacity 0.2s;*/
    /*-moz-transition: opacity 0.2s;*/
    /*-ms-transition: opacity 0.2s;*/
    /*-o-transition: opacity 0.2s;*/
    /*transition: opacity 0.2s;*/
}

ul.rowActions li {
    display: inline-block;
    padding: 4px;
}

ul.rowActions i {
    font-size: 1.3em;
}

ul.rowActions li a {
    color: #f8f8f8;
}

ul.rowActions li a:hover {
    color: #ccc;
}

div.tags {
    -moz-appearance: inherit;
    -webkit-appearance: inherit;
    border: none;
    box-shadow: none;
}

.tags input.input {
    background: transparent;
}

.sidebar, .sidebar.sidebar-icons {
    margin: 0;
    left: -51px;
    top: 100px;
    padding: 0;
}

.sidebar {
    background: none;
    color: #eee;
}

.slider {
    max-height: 230px;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    margin: 0;
}

.slider.closed {
    max-height: 0;
}
#languages-menu.ng-hide-remove {
    -webkit-animation: bounceIn 0.5s;
    animation: bounceIn 0.5s;
}

#languages-menu.ng-hide-add {
    -webkit-animation: flipOutX 0.5s;
    animation: flipOutX 0.5s;
    display: block !important;
}

#languages-menu{
    display: block;
}
/*#languages-menu.langsOpen-remove{*/
    /*-webkit-animation: fadeOutUp 0.7s;*/
    /*animation: fadeOutUp 0.7s;*/
    /*display: none;*/
/*}*/

/*#languages-menu.langsOpen{*/
    /*display: block;*/
    /*-webkit-animation: fadeInUp 0.3s;*/
    /*animation: fadeInUp 0.3s;*/
/*}*/
.transactionForm {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    padding: 10px 10px;
    opacity: 0;
}

.visible {
    opacity: 1 !important;
}

.transactionForm .inputHost {
    vertical-align: top;
    width: 100%
}

.transactionForm .inputHost input {
    height: 35px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.transactionForm .tags {
    min-width: 280px;
}

tags-input .tags .input {
    margin: 0;
}

.transactionForm .host {
    margin: 0;
}

.transactionForm #addressInput {
    min-width: 200px;
}

.transactionForm .btn {
    height: 32px;
}

.dark-grey {
    background-color: #797676;
}

.tag-hovered {
    background: #ffffff !important;
    color: red !important;
}

.striped td {
    background: rgba(51, 51, 51, 0.25);
}

tr:hover td {
    background-color: rgba(231, 124, 124, 0.4) !important;
    cursor: pointer;
}

.editorRow td {
    padding: 0 !important;
}

.editorRow:hover td {
    background-color: inherit !important;
}

.editorRow .transactionForm {
    padding: 20px 30px;
}

tr.selected {
    background-color: #9C6565 !important
}

tr.selected td {
    background-color: #9C6565 !important
}

input.code-or-email {
    font-size: 13px !important;
}

div[ng-view].ng-enter {
    -webkit-animation: fadeInRight 0.7s;
    animation: fadeInRight 0.7s;
}

div[ng-if].ng-enter {
    -webkit-animation: fadeInRight 0.3s;
    animation: fadeInRight 0.3s;
}

tr[ng-repeat-start].ng-enter {
    -webkit-animation: fadeInRight 0.7s;
    animation: fadeInRight 0.7s;
}

tr[ng-repeat-start].ng-leave {
    -webkit-animation: fadeOutRight 0.5s;
    animation: fadeOutRight 0.5s;
}

#arrowUp {
    text-align: center;
}

#arrowUp a {
    color: #f8f8f8;
}

#arrowUp a:hover {
    color: #ccc;
}

.content {
    padding-top: 0;
}

.page-header {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/*div[ng-view].ng-leave {*/
/*-webkit-animation: fadeOut 0.4s;*/
/*animation: fadeOut 0.4s;*/
/*}*/

.settings-section form {
    margin-left: 15px;
}

.page-header .nav > li > a {
    width: 45px;
}

.toast-top-right {
    top: 62px;
    right: 12px;
}

@media (max-width: 768px) {
    #totalAmount {
        display: none;
    }
}

@media (max-width: 640px) {
    #showTnxText {
        display: none;
    }
}
