.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgb(204, 204, 204);
  background: rgba(0, 0, 0, 0.6);
  /*margin-top: -15px;*/
}
#overlay-close {
  position: fixed;
  top: 30px;
  color: #fff;
  right: 30px;
  z-index: 100;
}
.map-overlay #overlay-close {
  color: #000;
}
#overlay-save {
  position: fixed;
  top: 30px;
  color: rgba(0, 145, 0, 0.67);
  right: 100px;
  z-index: 100
}
#overlay-save:hover {
  color: rgb(0, 145, 0);
}
#overlay-close:hover {
  color: rgb(51, 51, 51);
}
/*#all {*/

/*-webkit-transition: -webkit-transform 0.5s;*/

/*transition: transform 0.5s;*/

/*}*/

/*#all.overlay-open {*/

/*-webkit-transform: scale(0.9);*/

/*transform: scale(0.9);*/

/*}*/

.overlay-contentscale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.7s, opacity 0.7s, visibility 0.7s;
  transition: transform 0.7s, opacity 0.7s, visibility 0.7s;
}
.overlay-contentscale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s;
}
