<header>
    <div class="row shortStats">
        <div style="float: left" class="col-md-4 widgeTitle">
            <span>
                <span translate>TOTAL_SUM</span>:</span>
            <span>{{vm.total}}</span>
        </div>
        <div style="float: right" class="table-icons">
            <span class="tableAction hidden-phone-landscape" style="width:47px; height:47px; display:inline-block; float:right">
                <a href="javascript:void(0)" ng-hide="vm.excelProgress" ng-click="vm.downloadExcel()" class="download-excel-icon" title="{{'DOWNLOAD'|translate}}">
                    <img src="../img/icon_excel.png" alt="">
                </a>
                <a ng-show="vm.excelProgress" href="#" style="margin-right: 20px">
                    <span us-spinner="{lines:15,color: '#D7885E', width:2, length:5, radius:5, hwaccel: true, speed:1.4}"></span>
                </a>
            </span>
            <span class="tableAction">
                <a href="javascript:void(0)" class="filter-icon" ng-class="{active:vm.isFiltering}" ng-click="vm.toggleFiltering()">
                    <img src="../img/filter-brown.png" height="25" width="23" alt="">
                </a>
            </span>
            <span class="tableAction hidden-xs">
                <a ng-click="vm.addNewTxn(true)" href="javascript:void(0)">
                    <img src="../img/icon_add.png" alt="">
                </a>
            </span>
            <span class="tableAction hidden-md hidden-lg hidden-sm">
                <a href="javascript:void(0)" ng-click="vm.addNewTxn(false)">
                    <img src="../img/icon_add.png" alt="">
                </a>
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
</header>
