<div style="position:relative" ng-controller="transactions as vm">
<!--<div sticky use-placeholder>-->
<!--<nav id="sidebar" class="sidebar nav-collapse collapse sidebar-icons">-->
<!--<ul id="side-nav" class="side-nav sidebar-icons">-->
<!--<li>-->
<!--<a href="javascript:void(0)" ng-click="vm.toggleAdding()"><i class="fa fa-plus"></i></a>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->
<!--</div>-->
<div class="row">
    <div class="col-md-12">
        <h2 class="page-title" translate>EXPENSES_TABLE</h2>
    </div>
</div>
<div class="row">
<div class="col-md-12">
<section class="widget">
<div class="newTransactionWrapper">
    <header>
        <h4><i class="fa fa-plus"></i> <a href="javascript:void(0)" translate ng-click="vm.toggleAdding()">NEW_TANSACTION</a></h4>
    </header>
    <form name="newTransactionForm" ng-class="{row:true, slider:true, closed:!vm.isAdding}">
        <div ng-class="{transactionForm:true, visible:vm.showTransactionForm}">
            <div class="row">
                <div class="col-md-3">
                    <div class="inputHost">
                        <label for="dateAndTime" translate>DATE_AND_TIME</label>
                        <br/>
                        <input type="text" us-date-time-picker id="dateAndTime" ng-model="vm.curDateTime">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="inputHost">
                        <label for="amountInput" translate>AMOUNT</label>
                        <br/>
                        <input type="number" id="amountInput" ng-model="vm.newTnx.amountInBaseCurrency">
                    </div>
                </div>
                <div class="col-md-7">
                    <div style="width:100%" class="inputHost">
                        <label translate>TAGS</label>
                        <br/>
                        <tags-input ng-model="vm.newTnx.tags" min-Length="1" replace-spaces-with-dashes="false"
                                    style="width: 250px" placeholder="{{'ADD_TAG'|translate}}" class="bootstrap">
                            <auto-complete source="vm.loadTags()" min-length="0" debounce-delay="0"
                                           max-results="5"></auto-complete>
                        </tags-input>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="inputHost">
                        <label for="newAddress" translate>PLACE</label>
                        <br/>
                        <input class="form-control" ng-autocomplete ng-model="vm.newTnx.Place"
                               details="vm.newTnx.PlaceDetails" type="text" id="newAddress">
                    </div>
                    <br/>
                    <div class="inputHost">
                        <button type="button" class="btn btn-primary" ng-click="vm.addTnx()"
                                data-placement="right" translate>ADD_NEW</button>
                        <span class="validationMessage error" ng-bind-html="vm.newTnx.validationMessage"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row searchBlock">
    <div class="col-md-8">
        <div class="inputHost">
            <label for="fromDate">
                <span id="showTnxText" class="hidden-phone-landscape" translate>SHOW_TRANSACTIONS</span>&nbsp;<span translate>FROM</span>:
                <input filter="filter" us-date-time-picker ng-model="vm.minDate" type="text" id="fromDate">
            </label>
        </div>
        <div class="inputHost">
            <label><span translate>TO</span>:
                <input filter="filter" us-date-time-picker ng-model="vm.maxDate" type="text" id="toDate">
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <tags-input ng-model="vm.tags" min-Length="1" add-from-autocomplete-only="false"
                    replace-spaces-with-dashes="false" on-tag-added="vm.filterByTags()"
                    on-tag-removed="vm.filterByTags()" placeholder="{{'SEARCH_BY_TAGS'|translate}}" class="bootstrap">
            <auto-complete source="vm.loadTags()" min-length="0" debounce-delay="0"
                           max-results="5"></auto-complete>
        </tags-input>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="body">
            <table id="transactions-table" class="table tablestriped dataTable">
                <thead>
                <tr>
                    <th ng-class="vm.getSortingForColumn('id')" ng-click="vm.changeSorting('id')">
                        #
                    </th>
                    <th ng-class="vm.getSortingForColumn('timestamp')" ng-click="vm.changeSorting('timestamp')"
                        class="hidden-phone-landscape" translate>
                        DATE
                    </th>
                    <th class="no-sort" translate>
                        TIME
                    </th>
                    <th ng-class="vm.getSortingForColumn('amountInBaseCurrency')"
                        ng-click="vm.changeSorting('amountInBaseCurrency')">
                        <span translate>AMOUNT</span>
                        <span id="totalAmount" class="hidden-phone-landscape">{{vm.total()}} р.</span>
                    </th>
                    <th class="no-sort map" translate>ADDRESS</th>
                    <th class="no-sort hidden-phone-landscape" translate>TAGS</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="transaction in vm.trs|orderBy:vm.sort.column:vm.sort.descending"
                    ng-class="{selected:vm.selectedTnx.id === transaction.id, striped:$index%2==0}"
                    ng-click="vm.selectedTnx = transaction">
                    <td>{{transaction.id}}</td>
                    <td>{{transaction.timestamp | date:'dd MMMM yyyy'}}</td>
                    <td>{{transaction.timestamp | date:'HH:mm'}}</td>
                    <td>{{transaction.amountInBaseCurrency}} р.</td>
                    <td class="map">
                        <a ng-if="transaction.latitude && transaction.longitude"
                           ng-click="vm.showMap(transaction)"
                           title="{{'SHOW_ON_MAP'|translate}}"
                           href="javascript:void(0)">
                            <i class="fa fa-map-marker fa-2x"></i>
                        </a>
                    </td>
                    <td class="hidden-phone-landscape bootstrap">
                        <div class="tags">
                            <ul class="tag-list">
                                <li class="tag-item" ng-repeat="tag in transaction.tags"
                                    ng-mouseenter="vm.hoveredTag = tag" ng-mouseleave="vm.hoveredTag = null"
                                    ng-style="{'background-color':tag.color}"
                                    ng-class="{'tag-hovered':vm.hoveredTag.text === tag.text}"
                                    ng-click="vm.addTag(tag.text)">
                                    <span>{{tag.text}}</span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <ul ng-class="{visible:vm.selectedTnx.id === transaction.id}" class="rowActions">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </li>
                            <li>
                                <a ng-click="vm.toggleEditing()" href="javascript:void(0)">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr class="editorRow" ng-repeat-end
                    ng-if="vm.editedTnx && vm.editedTnx.id === transaction.id">
                    <td colspan="7">
                        <div class="row">
                            <form ng-class="{row:true, slider:true, closed:!vm.isEditing}">
                                <div style="opacity:0"
                                     ng-class="{transactionForm:true, visible:vm.showEditForm}">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="inputHost">
                                                <label for="dateAndTimeEditor" translate>DATE_AND_TIME</label>
                                                <br/>
                                                <input type="text" id="dateAndTimeEditor" us-date-time-picker
                                                       editor="editor"
                                                       ng-model="vm.selectedTnxDate">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="inputHost">
                                                <label for="editedAmount" translate>AMOUNT</label>
                                                <br/>
                                                <input type="text" value="" id="editedAmount"
                                                       ng-model="vm.editedTnx.amountInBaseCurrency">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div style="width:100%" class="inputHost">
                                                <label>Теги</label>
                                                <br/>
                                                <tags-input
                                                        ng-model="vm.editedTnx.tags"
                                                        min-Length="1"
                                                        replace-spaces-with-dashes="false"
                                                        style="width: 250px"
                                                        placeholder="Добавьте тег"
                                                        class="bootstrap">
                                                    <auto-complete source="vm.loadTags()" min-length="0"
                                                                   debounce-delay="0"
                                                                   max-results="5">
                                                    </auto-complete>
                                                </tags-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="inputHost">
                                                <label for="editedAddress" translate>PLACE</label>
                                                <br/>
                                                <button style="display:inline-block" type="button"
                                                        ng-click="vm.pickAddress()" class="btn btn-success">
                                                    <i style="font-size:15px;"
                                                       class="fa fa-map-marker fa-1x"></i> <span translate>SHOW_ON_MAP</span>
                                                </button>
                                                <div style="display:inline-block" translate>OR</div>
                                                <input style="width:81%; display:inline-block"
                                                       class="form-control" ng-autocomplete
                                                       ng-model="vm.editedTnx.Place"
                                                       details="vm.editedTnx.PlaceDetails" type="text"
                                                       id="editedAddress">
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div  style="margin-top: 10px" class="inputHost">
                                                <button type="button" class="btn btn-primary"
                                                        ng-click="vm.saveTnx()" data-placement="right">
                                                    <span translate>SAVE</span>
                                                </button>
                                                <button type="button" class="btn dark-grey"
                                                        ng-click="vm.toggleEditing()"
                                                        data-placement="right" translate>
                                                       <span translate>CANCEL</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="clearfix"></div>
</section>
</div>
</div>
</div>
