<div ng-controller="Shell as vm" class="container" style="position:relative">
    <header ng-class="{visible:!hideHeader}" class="page-header">
        <div>
            <div class="navbar">
                <a href="/">
                    <div class="logo sidebar-icons">
                        <!--<h4 style="display:inline-block">
                            eye<b>Spend</b>
                        </h4>-->
                    </div>
                </a>
                <ul ng-class="{open:vm.langsOpen}" class="nav right-menu navbar-nav navbar-right pull-right">
                    <li>
                        <a href="javascript:void(0)" id="logoutButton" class="top-icon simptip-position-right simptip-movable simptip-smooth" data-tooltip="{{'EXIT'|translate}}" ng-click="vm.logout()">
                            <img src="../img/sign-in-icon.png" alt="">
                        </a>
                    </li>
                    <li class="lang-change-icon" ng-show="!vm.langsOpen">
                        <a href="javascript:void(0)" ng-click="vm.togglePopover()" id="globe" data-toggle="popover" data-placement="bottom" class="top-icon" data-original-title="Settings">
                            <img src="../img/earth-icon.png" alt="">
                        </a>
                    </li>
                    <li class="lang-option">
                        <a ng-click="vm.translate('en')" style="width:auto; font-size:14px" href="javascript:void(0)">English</a>
                    </li>
                    <li class="lang-option">
                        <a ng-click="vm.translate('ru')" style="width:auto;font-size: 14px" href="javascript:void(0)">Русский</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </header>
    <nav class="side-bar">
        <ul>
            <li ng-class="{active:location.path() == '/'}">
                <a href="#/">
                    <span translate>EXPENSES</span>
                    <div class="icon-container expenses-icon">
                    </div>
                    <div class="pointer">
                        <img src="../img/pointer-brown.png" alt="">
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li ng-class="{active:location.path() == '/stats'}">
                <a href="#/stats">
                    <span translate>STATISTICS</span>
                    <div class="icon-container statistics-icon">
                    </div>
                    <div class="pointer">
                        <img src="../img/pointer-brown.png" alt="">
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li ng-class="{active:location.path() == '/settings'}">
                <a href="#/settings">
                    <span translate>ACCOUNT</span>
                    <div class="icon-container settings-icon">
                    </div>
                    <div class="pointer">
                        <img src="../img/pointer-brown.png" alt="">
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
        </ul>
    </nav>

</div>
