<div ng-controller="shell as vm">
    <header ng-class="{visible:!hideHeader}" class="page-header">
        <div>
            <div class="navbar">
                <a href="/">
                    <div class="logo sidebar-icons">
                        <h4 style="display:inline-block">
                            eye<strong>Spend</strong>
                        </h4>
                    </div>
                </a>
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li>
                        <a href="javascript:void(0)"
                           ng-href="#/settings"
                           id="settings"
                           class="simptip-position-bottom simptip-movable simptip-smooth"
                           data-tooltip="Настройки">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" ng-click="vm.togglePopover()" id="globe"
                           data-toggle="popover" data-placement="bottom"
                           class="simptip-position-bottom simptip-movable simptip-smooth"
                           data-tooltip="Языки"
                           data-original-title="Settings">
                            <i class="fa fa-globe"></i>
                        </a>
                        <ul id="languages-menu" ng-show="vm.langsOpen" ng-class="{'dropdown-menu':true, messages:true}"
                            role="menu">
                            <li role="presentation">
                                <a href="#" id="ru" ng-click="vm.translate('ru')" class="message">
                                    Русский
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" id="en" ng-click="vm.translate('en')" class="message">
                                    English
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="k" id="logoutButton"
                           class="simptip-position-bottom simptip-movable simptip-smooth"
                           data-tooltip="Выйти"
                           ng-click="vm.logout()">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </header>

</div>
