<div ng-controller="shell as vm">
    <header ng-class="{visible:!hideHeader}" class="page-header">
        <div>
            <div class="navbar">
                <a ng-href="#/">
                    <div class="logo sidebar-icons">
                        <!--<img src="../img/eyespendlogo.png"  style="display:inline-block;height:50px;width:50px" alt="">-->
                        <h4 style="display:inline-block">
                            Eye<strong>Spend</strong>
                        </h4>
                    </div>
                </a>
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="hidden-xs">
                        <a href="javascript:void(0)" ng-href="#/settings" id="settings" title="Настройки">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a href="javascript:void(0)" title="Языки" ng-click="vm.togglePopover()" id="globe"
                           data-toggle="popover" data-placement="bottom"
                           data-original-title="Settings">
                            <i class="fa fa-globe"></i>
                        </a>
                        <ul id="languages-menu" ng-show="vm.langsOpen" ng-class="{'dropdown-menu':true, messages:true}" role="menu">
                            <li role="presentation">
                                <a href="#" id="ru" ng-click="vm.translate('ru')" class="message">
                                    Русский
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" id="en" ng-click="vm.translate('en')" class="message">
                                    English
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden-xs"><a href="javascript:void(0)" title="Выйти" id="logoutButton" ng-click="vm.logout()">
                        <i class="fa fa-sign-out"></i></a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </header>

</div>
