<!DOCTYPE html>
<html>
<head>
    <title>eyeSpend</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,300,700&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
    <link href="css/application.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="modal/component.css"/>
    <script src="modal/modernizr.custom.js"></script>
</head>
<body class="background-ocean landing">
<div class="container">
    <header class="page-header">
        <div class="navbar">
            <div class="logo pull-left">
                <h4>
                    <a style="font-size: 24px" href="/">eye<strong>Spend</strong></a>
                    <span>контроль расходов</span>
                </h4>
            </div>
            <ul class="navbar-buttons pull-right">
                <li>
                    <a class="md-trigger btn btn-sm btn-transparent" id="login" data-modal="modal-11" href="#">
                        Войти&nbsp;
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="md-modal md-effect-11" id="modal-11">
        <div class="md-content">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <section style="margin:0 auto" class="widget login-widget">
                            <header class="text-align-center">
                                <h4 translate>Введите код активации или email</h4>
                            </header>
                            <div class="authError" id="loginError"></div>
                            <div class="body">
                                <form class="no-margin" ng-submit="vm.submit()" method="POST">
                                    <fieldset>
                                        <div class="form-group ">
                                            <label for="email" translate>Email или код активации</label>

                                            <div class="input-group input-group-lg">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input id="email"
                                                       type="text"
                                                       ng-model="vm.user.codeOrEmail"
                                                       ng-keyup="vm.codeOrEmailChanged($event)"
                                                       class="form-control input-lg code-or-email"
                                                       placeholder="Введите email или код активации">
                                            </div>
                                        </div>

                                        <div style="margin-top: 10px;" class="form-group" id="password-area">
                                            <label for="password" translate>Пароль</label>

                                            <div class="input-group input-group-lg">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                                <input id="password" ng-model="vm.user.password" type="password"
                                                       class="form-control input-lg"
                                                       placeholder="Введите пароль">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions">
                                        <!--<div style="text-align: center;">-->
                                        <!--<a href="#" style="color:#e5603b">-->
                                        <!--<i class="fa fa-arrow-circle-o-right fa-4x "></i>-->
                                        <!--</a>-->
                                        <!--</div>-->
                                        <button type="button" id="loginButton" class="btn btn-block btn-lg btn-danger">
                                            <span>Войти</span>
                                        </button>
                                        <div class="forgot">
                                            <a class="forgot" href="#" translate>Забыли пароль?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)" class="md-close hide"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="md-overlay"></div>
    <div class="content">
        <div id="carousel-landing" class="carousel slide carousel-landing carousel-fade">
            <ol class="carousel-indicators">
                <li data-target="#carousel-landing" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-landing" data-slide-to="1" class=""></li>
                <li data-target="#carousel-landing" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="animated fadeInLeftBig">
                                <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
                                      rel="stylesheet"/>
                                <h1 class="slide-one-header"><strong>eyeSpend</strong> <br>Панель управления</h1>

                                <p class="lead hidden-xs">
                                    История расходов, анализ и статистика.
                                </p>

                                <p>
                                    <a href="index.html" class="btn btn-lg btn-white">
                                        Preview &nbsp; <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a href="https://wrapbootstrap.com/theme/light-blue-responsive-admin-template-WB0T41TX4"
                                       class="btn btn-lg btn-transparent">
                                        Purchase &nbsp; <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-align-center animated fadeInRightBig">
                                <img src="img/jpeg/light-blue-preview-1.png" alt="Second slide">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h1 class="slide-two-header text-align-center animated fadeInDown">
                        <strong>Transparent</strong> & <strong>White</strong>
                        Versions
                    </h1>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="animated fadeInLeftBig">
                                <p>
                                    <a href="index.html">
                                        <img src="img/jpeg/light-blue-laptop-transparent.png" alt=""/>
                                    </a>
                                </p>

                                <p class="text-align-center">
                                    <a href="index.html" class="btn btn-transparent btn-lg btn-version-preview">
                                        Preview &nbsp; <i class="fa fa-angle-right"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="animated fadeInRightBig">
                                <p>
                                    <a href="white/index.html">
                                        <img src="img/jpeg/light-blue-laptop-white.png" alt=""/>
                                    </a>
                                </p>

                                <p class="text-align-center">
                                    <a href="white/index.html" class="btn btn-white btn-lg btn-version-preview">
                                        Preview &nbsp; <i class="fa fa-angle-right"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="animated fadeInLeft">
                                <h1 class="slide-three-header">
                                    <strong>Дуступно</strong>
                                    <br>
                                    в AppStore
                                </h1>

                                <p>
                                    <a href="http://responsinator.com/?url=http%3A%2F%2Fdemo.okendoken.com"
                                       class="btn btn-white btn-lg" target="_blank">
                                        Установить
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="animated fadeInUp" style="margin-top: 20px">
                                <img src="img/jpeg/light-blue-phone.png" alt=""/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control carousel-control-landing" href="#carousel-landing" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control carousel-control-landing" href="#carousel-landing" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
</div>
<div id="about" class="widget widget-white widget-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <h2><strong>Познакомьтесь с EyeSpend</strong></h2>

                <p>
                    <strong>EyeSpend</strong> - Это простое и удобное приложение, позволяющее по новому взглянуть на
                    учет личных финансов. Минимализм и удобство для пользователя – вот основная концепция приложения.
                </p>

                <div class="row features">
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-danger">
                                            <i class="fa fa-bold"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Bootstrap 3</h4>

                                    <p>
                                        Light Blue comes with built-in Twitter Bootstrap 3 support.
                                        Easy to design your next web app.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-warning">
                                            <i class="fa fa-magic"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Unique design</h4>

                                    <p>
                                        Transparent widgets and gradient background - have you seen something like this
                                        before?
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-success">
                                            <i class="fa fa-wrench"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Developer-friendly</h4>

                                    <p>
                                        Simple, intuitive and easily maintainable code.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row features">
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-primary">
                                            <i class="fa fa-superscript"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>White & Transparent</h4>

                                    <p>
                                        Two styles each having two background options.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-lime">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Web applications</h4>

                                    <p>
                                        LB itself is a web app. Plus there is an Email -
                                        ready-to-use Backbone application.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4">
                        <section class="feature">
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>
                                        <span class="icon background-info">
                                            <i class="fa fa-css3"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-8">
                                    <h4>Sass-powered</h4>

                                    <p>
                                        Variables, mixins, includes - things that
                                        make Light Blue really easy to customize.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <p class="preview text-align-center">
            <a href="white/index.html" class="btn btn-lg btn-danger">
                &nbsp; Preview the White Version &nbsp;
            </a>
        </p>


    </div>
</div>
<h2 class="thanks text-align-center">Thanks for watching!</h2>

<p class="lead text-align-center"><a class="back-to-top" href="#"> back to top <i class="fa fa-angle-up"></i></a></p>

<!-- jquery and friends -->
<script src="landing-js/jquery.min.js"></script>
<script src="landing-js/jquery.pjax.js"></script>

<!-- bootstrap default plugins -->
<script src="lib/bootstrap/transition.js"></script>
<script src="lib/bootstrap/carousel.js"></script>

<!-- page specific -->
<script src="landing-js/landing.js"></script>
<script src="translations.js"></script>


<!-- the overlay element -->

<!-- classie.js by @desandro: https://github.com/desandro/classie -->
<script src="modal/classie.js"></script>
<script src="modal/modalEffects.js"></script>

<!-- for the blur effect -->
<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
<script>
    // this is important for IEs
    //    var polyfilter_scriptpath = '/modal/';
</script>
<script src="modal/cssParser.js"></script>
<!--<script src="modal/css-filters-polyfill.js"></script>-->
<script>

</script>
</body>