<div class="tag-filters-wrap" sticky>
    <div class="tag-stat-filters">
        <div class="filters-header">
            <img class="filter-small" src="../img/filter-small.png" alt="">
            <span translate>FILTER</span>
        </div>
        <div class="white-delimiter"></div>
        <p class="description" translate>FILTER_INSTRUCTIONS</p>
        <div class="tagstats-filter include">
            <div class="filter-header" translate>SHOW</div>
            <div class="tags-box include" data-drop="true" ng-class="{'is-dragging':vm.isDragging}" jqyoui-droppable="{onDrop:'vm.tagDropped()'}">
                <tags-input ng-class="{empty:vm.includeTags.length === 0}" ng-model="vm.includeTags" on-tag-added="vm.tagFilterChange()" on-tag-removed="vm.tagFilterChange()" placeholder="&nbsp;">
                    <auto-complete source="vm.loadTags($query)" min-length="0" debounce-delay="0" max-results="100">
                    </auto-complete>
                </tags-input>
            </div>
        </div>
        <div class="tagstats-filter exclude">
            <div class="filter-header" translate>HIDE</div>
            <div class="tags-box exclude" data-drop="true" ng-class="{'is-dragging':vm.isDragging}" jqyoui-droppable="{onDrop:'vm.tagDropped()'}">
                <tags-input ng-class="{empty:vm.excludeTags.length === 0}" on-tag-added="vm.tagFilterChange()" on-tag-removed="vm.tagFilterChange()" ng-model="vm.excludeTags" placeholder="&nbsp;">
                    <auto-complete source="vm.loadTags($query)" min-length="0" debounce-delay="0" max-results="100">
                    </auto-complete>
                </tags-input>
            </div>
        </div>
    </div>
</div>
