<div class="page stats tag-stats" ng-controller="TagStats as vm">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <section class="widget">
                    <div class="widget-content">
                        <header class="tagstats-header">
                            <div class="widgeTitle">
                                <span translate="">Статистика по тегам</span>
                            </div>
                        </header>
                        <div class="tagstats-content">
                            <div class="stat-controls">
                                <div class="stats-datepicker">
                                    <datepicker type="daterange" locale="vm.datePickerTexts" format="DD.MM.YYYY" interval-format="DD.MM.YYYY" opens="right" ranges="vm.dateRanges" ng-model="vm.chartDateRange">
                                        <i class="calendar-icon"></i>
                                        <span translate>Уточнить интервал</span>
                                        <b class="caret"></b>
                                    </datepicker>
                                </div>
                                <div class="date-slider">
                                    <div class="minichart">
                                        <linechart data="vm.miniData" options="vm.miniOptions" mode="thumbnail">
                                        </linechart>
                                    </div>
                                    <us-slider changing="vm.sliderValuesChanging" options="vm.sliderOptions">
                                    </us-slider>
                                </div>
                            </div>
                            <div class="tag-stats-main">
                                <div class="tag-stat-table">
                                    <table>
                                        <tr ng-repeat="tagstat in vm.tagStats">
                                            <td class="tag-list-td">
                                                <div class="transaction-tags stat-tags">
                                                    <div ng-repeat="tag in tagstat.tags" class="stat-tag">
                                                        <span ng-style="{'border-color':vm.getTagColorStyle(tag.color)}" class="beforeTag"></span><a ng-style="{'background':tag.color}" href="javascript:void(0)">{{tag.text}}</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="bars-td">
                                                <div class="bar-wrap">
                                                    <div ng-style="{width:vm.getBarWidth(tagstat.percent)}" class="bar"></div>
                                                    <div class="percetage">{{tagstat.percent}}%</div>
                                                </div>
                                                <div class="bar-bg"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tag-stat-filters"></div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
        </div>
    </div>
</div>
</div>
