<div ng-controller="settings as vm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title" translate>ACCOUNT_SETTINGS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="widget">

                <div class="settings-section">
                    <header>
                        <h4><i class="fa fa-lock"></i> <span translate>CHANGE_PASSWORD</span></h4>
                    </header>
                    <div class="body">
                        <form>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="prefix">
                                        <span translate>PASSWORD</span>
                                        <ul class="parsley-errors-list"></ul>
                                    </label>

                                    <div class="controls form-group">
                                        <div class="col-sm-4">
                                            <input type="password" placeholder="{{'TYPE_NEW_PASSWORD'|translate}}" ng-model="vm.psw" name="prefix"
                                                   class="form-control styledInput"
                                                   data-parsley-id="8401">
                                        </div>
                                    </div>
                                </div>
                                <br/>

                                <div class="control-group">
                                    <label class="control-label" for="prefix">
                                        <span translate>CONFIRMATION</span>
                                        <ul class="parsley-errors-list"></ul>
                                    </label>

                                    <div class="controls form-group">
                                        <div class="col-sm-4"><input placeholder="{{'TYPE_PASSWORD_CONFIRMATION'|translate}}" type="password" ng-model="vm.confirmation" name="prefix"
                                                                     class="form-control styledInput"
                                                                     data-parsley-id="8401"></div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="actionButton">
                                <button type="submit" ng-click="vm.changePassword()" class="btn btn-primary" translate>SAVE</button>
                                <span ng-class="{validationMessage: true, error:vm.error}" ng-bind-html="vm.message"></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="settings-section">
                    <header>
                        <h4><i class="fa fa-user"></i> <span translate>CHANGE_EMAIL</span></h4>
                    </header>
                    <div class="body">
                        <form>
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label">Email
                                        <ul class="parsley-errors-list"></ul>
                                    </label>

                                    <div class="controls form-group">
                                        <div class="col-sm-4"><input placeholder="{{'TYPE_NEW_EMAIL' | translate}}" type="text" name="prefix"
                                                                     class="form-control styledInput"
                                                                     data-parsley-id="8401"></div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="actionButton">
                                <button type="submit" class="btn btn-primary" translate>SAVE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>