<div ng-controller="login as vm">
    <div class="row">
        <div class="col-lg-12">
            <section style="margin:0 auto" class="widget login-widget">
                <header class="text-align-center">
                    <h4 translate>TYPE_EMAIL_AND_PASSWORD</h4>
                </header>
                <div class="authError" ng-bind-html="vm.message"></div>
                <div class="body">
                    <form class="no-margin" ng-submit="vm.submit()" method="POST">
                        <fieldset>
                            <div class="form-group no-margin">
                                <label for="email">Email</label>

                                <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="eicon-user"></i>
                                </span>
                                    <input id="email" type="email" ng-model="vm.user.username" class="form-control input-lg"
                                           placeholder="{{'YOUR_EMAIL'|translate}}">
                                </div>

                            </div>

                            <div style="margin-top: 10px" class="form-group">
                                <label for="password" translate>PASSWORD</label>

                                <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                    <input id="password" ng-model="vm.user.password" type="password"
                                           class="form-control input-lg"
                                           placeholder="{{'YOUR_PASSWORD'|translate}}">
                                </div>

                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-block btn-lg btn-danger">
                                <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                                <small translate>LOGIN</small>
                            </button>
                            <div class="forgot"><a class="forgot" href="#" translate>FORGOT_PASSWORD</a> <br/><a ng-href="#/quickpass" class="forgot" translate>ENTER_DISPOSABLE_PASSWORD</a></div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

</div>